<Nvar-root [title]="nombrevista" [texto]="textoInicio"></Nvar-root>
<div class="informacionInicial">
  <div class="title-servicios">
    <h3>Diseñando, Creando, Innovando.</h3>
  </div>
  <p class="textoInicial">Estos son algunos numeros que hemos acumulado, y que consideramos; seran de su interes.</p>
</div>
<br>
<div class="row numerosRow">
  <div class="column numerosColumn">
    <div class="cards_numeros">
      <div class="card-body">
        <h1 class="numeroAuto">{{contador1}}</h1>
        <p class="fw-bold">Proyectos</p>
      </div>
    </div>
  </div>
  <div class="column numerosColumn">
    <div class="cards_numeros">
      <div class="card-body">
        <h1 class="numeroAuto">{{contador2}}</h1>
        <p class="fw-bold">Apps</p>
      </div>
    </div>
  </div>
  <div class="column numerosColumn">
    <div class="cards_numeros">
      <div class="card-body">
        <h1 class="numeroAuto">{{contador3}}</h1>
        <p class="fw-bold">Clientes</p>
      </div>
    </div>
  </div>
  <div class="column numerosColumn">
    <div class="cards_numeros">
      <div class="card-body">
        <h1 class="numeroAuto">{{contador4}}</h1>
        <p class="fw-bold">Tazas de cafe</p>
      </div>
    </div>
  </div>
</div>
<br><br>
<hr>
<div class="informacionInicial"><br><br>
  <p class="textoInicial">El tiempo avanza y la tecnologia toma cada vez mas relevancia en los procesos y actividades que llevan a cabo las personas en su diario vivir. Por lo tanto, es importante entender, que hoy, no es igual que ayer.</p>
</div>
<div class="title-servicios">
  <h3>Nuestros servicios</h3>
</div>
<div class="row">
    <div class="column">
      <div class="cards">
        <div class="imgBx">
          <img src="../../../assets/image/bombillo.png" style="width: 100px;">
          <img class="pinon" src="../../../assets/image/pinon.png" style="width: 100px;top: 58px;">
        </div>
        <div class="contentBx">
          <h2>Diseno de Marca</h2>
          <div class="size">
            <p class="texto-card">Cuando se trata de representacion corporativa, el diseno de marca es quizas una de las consideraciones mas importantes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="cards">
        <div class="imgBx">
          <img src="../../../assets/image/bombillo.png" style="width: 100px;">
          <img class="pinon" src="../../../assets/image/pinon.png" style="width: 100px;top: 58px;">
        </div>
        <div class="contentBx">
          <h2>Diseno de Interfaces</h2>
          <div class="size">
            <p class="texto-card">Se juega un papel esencial en la realizacion del ideal central, su implementacion y la creacion de mensajes que permiten interacion con el sistema.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="cards">
        <div class="imgBx">
          <img src="../../../assets/image/bombillo.png" style="width: 100px;">
          <img class="pinon" src="../../../assets/image/pinon.png" style="width: 100px;top: 58px;">
        </div>
        <div class="contentBx">
          <h2>Ideas innovadoras</h2>
          <div class="size">
            <p class="texto-card">Las ideas de negocio innovadoras son aquellas que destacan por su originalidad y singularidad.</p>
          </div>
        </div>
      </div>
    </div>
</div><br>
<div class="olas">
  <svg xmlns="http://www.w3.org/2000/svg" ><path fill="#202a38" fill-opacity="1" d="M0,128L60,112C120,96,240,64,360,48C480,32,600,32,720,42.7C840,53,960,75,1080,69.3C1200,64,1320,32,1380,16L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
  <svg xmlns="http://www.w3.org/2000/svg" ><path fill="#202a38" fill-opacity="1" d="M0,128L60,112C120,96,240,64,360,48C480,32,600,32,720,42.7C840,53,960,75,1080,69.3C1200,64,1320,32,1380,16L1440,0L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>
<div class="title-servicios">
  <h3>Testimonios</h3>
</div><br>
<div class="row numerosRow">
  <div class="column columnTesti">
    <img class="logo_clinica" src="../../../assets/image/ClinicaUros.jpg">
  </div>
  <div class="column columnTesti">
    <div class="card-body">
      <div class="title-servicios">
        <h3>Clinica Uros</h3>
      </div>
      <p class="textoInicial_x">Clinica UROS S.A es una empresa privada que presta Servicios de Salud a la comunidad Surcolombiana de Mediana y Alta complejidad, en los niveles (3) y (4), garantizando la prestacion integral en las diferentes areas y especialidades de manera oportuna y segura, con respeto, equidad y humanizacion en el servicio, buscando mejorar la calidad de vida de los pacientes y sus familias.</p>
    </div>
  </div>
</div><hr>
<br>
<Footer-root></Footer-root>