<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <ul style="text-align: center;">
                        <img src="../../../assets/image/logo_footer.png" style="width: 10rem;">
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre</h3>
                    <ul>
                        <li><a (click)="pagina('/Contactenos')">Compania</a></li>
                        <li><a  (click)="pagina('/Nosotros')">Equipo</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>ICT ZOMAC</h3>
                    <p>Pero es mi politica. Una hipoteca o una inversion inmobiliaria. Vivamos en el lago. Como elemento vehicular. Incluso una cama triste. Algunas personas necesitan una almohada en la proa o en la derecha.</p>
                </div>
                <div class="col item social">
                    <a class="fa" href="#"><img [src]="facebook"></a>
                    <a href="#"><span class="in"><img [src]="instagram"></span></a>
                    <a class="wh" href="#"><img [src]="whatsapp"></a>
                    <a class="tw" href="#"><img [src]="twitter"></a>
                    <a class="tw" href="#"><span class="material-symbols-outlined">
                        home
                        </span></a>
                </div>
            </div>
            <p class="copyright">ICT ZOMAC &copy; 2023</p>
        </div>
    </footer>
</div>