<div class="contenedor">    
    <div class="card">
        <img class="rotoVidirio" src="../../../assets/image/roto.jpg">
        <div class="card-header">
            Error
        </div>        
        <div class="card-body">
            <h5 class="card-title fw-bold">{{title}}</h5>
            <p class="card-text fw-bold">La ruta que busca no existe o no responde.</p>
            <a (click)="pagina('/Inicio')" routerLink="/Inicio" class="btn btn-primary">Inicio</a>
        </div>
    </div>
</div>