@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}
router-outlet{
    max-width: 100$;
}