<Nvar-root [title]="title" [texto]="textoInicial"></Nvar-root>
<div class="contenedor-cr">
    <div class="card-body">
        <div class="texto-informacion">
            <h1 class="card-titulo">Creacion de Apps</h1>
            <p class="texto">
            Analizamos, disenamos y desarrollamos aplicaciones 
            a medida para dispositivos moviles 
            con Sistema Operativo Android e iOS. 
            </p>
            <a type="button" class="button-information" (click)="pagina('/Contactenos')">
            CONTACTENOS
            </a>
        </div>
        <div class="imagen-informacion">
            <img src="../../../assets/image/CreacionAPP.png" class="imagenPadre">
            <div class="pic-ctn">
            <img src="../../../assets/image/android.png?t=1" alt="" class="SO">
            <img src="../../../assets/image/ios.png?t=2" alt="" class="SO">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="contenedor-cr">
    <div class="card-body">
      <div class="texto-informacion">
        <h1 class="card-titulo">Diseno Web</h1>
        <p class="texto">
          Analizamos, disenamos y desarrollamos sitios
           web informativos y funcionales para su empresa o negocio. 
        </p>
        <a type="button" class="button-information" (click)="pagina('/Contactenos')">
          CONTACTENOS
        </a>
      </div>
      <div class="imagen-informacion">
        <img src="../../../assets/image/diseno_web.png" class="imagenPadre">
        <div class="pic-ctn_2">
          <img src="../../../assets/image/diseno_1.png" alt="" class="imagenHijo1">
          <img src="../../../assets/image/diseno_2.png" alt="" class="imagenHijo2">
          <img src="../../../assets/image/diseno_img.png" alt="" class="imagenHijo3">
        </div>
      </div>
    </div>
</div>
<hr><br>
<div class="card_s" style="padding: 20px; text-align: center;">
  <div class="row">
      <div class="column">
        <div class="cards">
          <div class="imgBx">
            <span class="material-symbols-outlined">
              screencast
            </span>
          </div>
          <div class="contentBx">
            <h2>Diseno de marca</h2>
            <div class="size">
              <p class="texto-card">Estas permiten la identificacion y diferenciacion de sus productos o servicios. Una buena marca transmite el mensaje adecuado al publico apropiado.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cards">
          <div class="imgBx">
            <span class="material-symbols-outlined">
              cognition
            </span>
          </div>
          <div class="contentBx">
            <h2>Ideas Inovadoras</h2>
            <div class="size">
              <p class="texto-card">Se pueden desarrollar ideas innovadoras para brindar nuevos servicios, expandir o consolidar mercados o crear nuevos trampolines para el crecimiento. Hoy en dia, la innovacion juega un papel importante en el desarrollo de las empresas. En el mundo globalizado en el que vivimos, la competencia es cada vez mas feroz.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cards">
          <div class="imgBx">
            <span class="material-symbols-outlined">
              smart_button
            </span>
          </div>
          <div class="contentBx">
            <h2>Diseno de interfaces</h2>
            <div class="size">
              <p class="texto-card">Estas se encargan de convertir el uso  cotidiano de aplicaciones moviles y web en sensaciones y experiencias positivas para sus usuarios.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<Footer-root></Footer-root>