.card{
    height: 500px;
}
.card-titulo{
    margin: 84px auto 0px;
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: bold;
    transition: 0.5s all;
}
.card-titulo:hover{
    text-shadow: 0.1em 0.1em 0.2em rgb(8, 0, 77)
}
.contenedor-cr{
    padding: 42px 138px;
    text-align: center;
}

.contenedor-cr .card-titulo{
    margin: 84px auto 0px;
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: bold;
    transition: 0.5s all;
}
.contenedor-cr .card-titulo:hover{
    text-shadow: 0.1em 0.1em 0.2em rgb(8, 0, 77)
}

.contenedor-cr .card-body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    transition: 10s all;
}
.contenedor-cr .card-body:hover{
    border: s #202a38 3px;
}
.contenedor-cr .card-body .texto-informacion{
    margin: 0 auto;
    width: 500px;
}
.contenedor-cr .card-body .imagen-informacion{
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 0px;
}
@keyframes aparece {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
hr{
    color: inherit;
    border-top: 4px solid;
    opacity: .25;
    margin: 0px auto;
    width: 55%;
    border-radius: 50%;
}
.contenedor-cr .card-body .imagen-informacion .imagenPadre{
    width: 409px;
    position: absolute;
    left: 0%;
    top: 0px;
    right: 0px;
    margin: auto;
    animation: aparece 2s linear 2s 1 normal both;
}
.contenedor-cr .card-body .imagen-informacion .SO{
    position: absolute;
    width: 100px;
}
.texto-informacion .button-information{
    background-color: #0d2c66;
    color: rgb(255, 255, 255);
    padding: 8px 32px;
    border-radius: 0.375rem;
    margin: 26px auto;
    display: block;
    width: 186px;
    transition: 0.5s all;
    transform:translateX(10px);
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
}
.texto-informacion .button-information:hover{
    background-color: #091d42;
    transform:translateX(5px);
    box-shadow: -5px 14px 8px 1px rgba(0, 0, 0, 0.8)
}

@media screen and (max-width: 769px) {
    .contenedor-cr {
        padding: 42px 4%;
    }
    .contenedor-cr .card-body .imagen-informacion .SO{
        top: 116px;
        left: 207px;
    }
    .pic-ctn{
        height: 211px !important;
        top: 30px !important; 
        left: 0px !important;
    }
}
@media screen and (max-width: 548px){
    .contenedor-cr .card-body .imagen-informacion .imagenPadre{
        height: 116%;
        min-height: 300px;
        width: 95%;
    }
    .imagen-informacion .pic-ctn_2{
        width: 70%;
        margin: 0px auto;
    }
    .imagen-informacion .pic-ctn_2 .imagenHijo1{
        left: 10%;
    }
    .imagen-informacion .pic-ctn_2 .imagenHijo2{
        left: 39%;
    }
    .imagen-informacion .pic-ctn_2 .imagenHijo3{
        left: 68%;
    }
    .contenedor-cr .card-titulo{
        margin: 84px auto 0px;
        font-size: 2.7rem;
        padding: 30px 0px;
        font-weight: bold;
        transition: 0.5s all;
    }
    .contenedor-cr .card-body .imagen-informacion .SO{
        top: 45%;
        left: 41%;
    }
}
@media screen and (max-width: 421px){
    .contenedor-cr .card-body .imagen-informacion .SO{
        top: 35%;
        left: 38%;
    }
}
.pic-ctn {
    position: relative;
    height: 300px;
    top: 40%;
    left: 11%;
  }
  
  @keyframes display {
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(-20px);
      opacity: 0;
    }
  }
  @keyframes mianim1 { 
    from { top: 85px } /*Fotograma inicio*/
    to { top: 105px }
  }
  @keyframes mianim2 { 
    from { top: 150px } /*Fotograma inicio*/
    to { top: 125px }
  }

  
  .pic-ctn > img {
    position: absolute;
    top: 87px;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 6s infinite;
    top:0px
  }
  
  .pic-ctn img:nth-child(1) {
    animation-delay: 3s;
  }
  .pic-ctn img:nth-child(2) {
    animation-delay: 6s;
  }
  .pic-ctn_2 {
    position: relative;
    height: 300px;
    top: 0%;
    left: 0%;
    width: 100%;
    animation: aparece 2s linear 2s 1 normal both;
  }
  .pic-ctn_2 > img {
    position: absolute;
    width: 70px;
  }
  
.pic-ctn_2 .imagenHijo1{
    top: 94px;
    animation: mianim1 2.5s infinite alternate;
    left: 144px;
}

.pic-ctn_2 .imagenHijo2{
    top: 152px;
    left: 209px;
    animation: mianim2 2.5s infinite alternate;
}
.pic-ctn_2 .imagenHijo3{
    top: 138px;
    left: 281px;
    animation: mianim3 1s infinite alternate;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

svg{
    width: 100%;
}
.title-servicios h3{
    margin: 0px auto;
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: bold;
    transition: 0.5s all;
    text-align: center;
}
.title-servicios h3:hover{
    text-shadow: 0.1em 0.1em 0.2em rgb(8, 0, 77)
}

.card_s{
    height: auto;
}
.card-titulo{
    margin: 84px auto 0px;
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: bold;
    transition: 0.5s all;
}
.card-titulo:hover{
    text-shadow: 0.1em 0.1em 0.2em rgb(8, 0, 77)
}
.row {
    margin: 0 auto;
    padding: 0px 138px;
    transition: 0.5s all;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 343px;
    padding: 10px 0px;
    margin: 0px auto;
}
.cards{
    position: relative;
    width: 320px;
    height: 360px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    transition: 0.5s all;
}

.cards:hover{
    box-shadow: 10px 10px 10px 10px rgba(22, 24, 49, 0.534);
    transition: 0.5s all;
}
.cards span{
    font-size: calc(4.2em + 1vw);
    padding-top: 34px;
    color: #484848;
    transition: 0.5s all;
}
.cards:hover span{
    color: #004ebc;
}
.cards:hover h2{
    transition: 0.5s all;
    color: #202a38 ;
    text-shadow: 0.1em 0.1em 0.5em rgb(44, 44, 44);
}
.cards:hover .contentBx .texto-card{
    text-shadow: 0.1em 0.1em 0.6em rgb(44, 44, 44);
}
@media screen and (max-width:649px){
    .row{
        padding: 0px 10px;
        transition: 0.5s all;
    }
}
@media screen and (max-width:418px){
    .row{
        padding: 0px auto;
        transition: 0.5s all;
    }
}